@mixin showcase(
  $image_url,
  $showcase_height,
  $showcase_color,
  $opacity,
  $text_color
) {
  background: url($image_url);
  background-size: cover;
  height: $showcase_height;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 20px;
  text-align: center;
  z-index: -1;

  & > * {
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: $showcase_height;
    background: rgba($showcase_color, $opacity);
    z-index: 0;
  }

  & h1 {
    font-size: 3em;
    line-height: 1.6;
    color: $text_color;
  }
}
