@import "colors";
@import "mixins";

.gallery-showcase {
  @include showcase("../images/restaurant.jpeg", 50vh, $color1, 0.5, $color3);
}

@media (min-width: 786px) {
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }
}

img {
  max-width: 80%;
  margin: 3em;
}

.team {
  @include showcase("../images/staff.jpeg", 100vh, $color1, 0.5, $color3);
}
