@import "colors";
@import "config";

.header {
  background: $color1;
  padding: $header_padding;
  position: fixed;
  width: 100vw;
  z-index: 3;

  .container {
    display: flex;
    justify-content: space-between;
  }

  #branding {
    color: $background-color;
  }
  #links li {
    list-style: none;
    display: inline;
    padding: 2em;
    line-height: 2em;
    color: $background-color;
    vertical-align: middle;
  }
}

@media (max-width: 786px) {
  .header {
    position: relative;
  }
  .navbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
  }
}
