@import "colors";
@import "config";
@import "mixins";

.showcase {
  @include showcase("../images/lobby.jpeg", 100vh, $color1, 0.5, $color4);
}

.feature-img {
  background: url("../images/lobby.jpeg");
  height: 40vw;
  background-attachment: fixed;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 40vw;
    background: rgba($color4, 0.1);
    z-index: 0;
  }
}

@media (min-width: 786px) {
  .room-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-items: start;

    margin: 5em 0;
    text-align: left;

    img {
      max-width: 70%;
    }

    div h2 {
      text-align: center;
      margin-bottom: 3em;
    }

    &.rtl {
      text-align: right;
      justify-items: end;

      & .item-1 {
        grid-column: 2/2;
        grid-row: 1/1;
      }

      & .item-2 {
        grid-column: 1/2;
        grid-row: 1/1;
      }
    }
  }
}

section {
  h1 {
    margin-top: 2em;
  }
}

section#feature_lobby {
  @include showcase("../images/restaurant.jpeg", 100vh, $color5, 0.5, $color3);
  margin: 0;
}
