@import url("https://fonts.googleapis.com/css?family=Karla|Lato");
@import "colors";
@import "config";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  z-index: 1;
  transition: all $transition_length;
}

@media (max-width: 786px) {
  * {
    text-align: center;
  }
}

html {
  font-family: "Karla", sans-serif;
  background: $background-color;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  color: $color1;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;

  & .dark {
    background: $color1;
    color: $color4;
  }
}

footer {
  background: $color1;
  position: relative;
  width: 100%;
  bottom: 0;

  & > * {
    color: $background-color;
    text-align: left;
  }
}

.button {
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;

  &:focus {
    outline: none;
  }

  &.light {
    color: $color2;
    border: $color1 1px solid;
    background: $color1;

    &:hover {
      color: $color1;
      background: transparent;
    }
  }

  &.white {
    color: $color3;
    border: $color1 1px solid;
    background: $color1;

    &:hover {
      color: $color3;
      background: transparent;
      border: $color3 1px solid;
    }
  }

  &.dark {
    color: $color2;
    background: transparent;
    border: $color2 1px solid;

    &:hover {
      background: $color1;
      color: $color2;
      border: $color1 1px solid;
    }
  }
}

section {
  padding: 3em 0 3em 0;
}

.link {
  text-decoration: none;
  color: $background-color;
}
