@import "colors";
@import "mixins";

.services-showcase {
  @include showcase(
    "../images/showcase-background.jpeg",
    50vh,
    $color1,
    0.5,
    $color4
  );
}

@media (min-width: 786px) {
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}

img {
  max-width: 80%;
  margin: 3em;
}
